* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamily;
    font-size: 1.6rem;
    overflow-x: hidden;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 80%;
}



*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


img {
    max-width: 100%;
    display: block;
}