.header {
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-img {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__img-avatar {
    width: 2.5rem;
}





.nav {
    position: absolute;
    background-color: $White;
    width: 25rem;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transform: translateX(-100%);
    transition: all 300ms;



    &__a {
        font-weight: bold;
        text-decoration: none;
        color: $Black;
        font-size: 2rem;
    }



    a:first-of-type {
        margin-top: 1.5rem;
    }




}



.icon-menu {
    cursor: pointer;
}

.icon-close {
    cursor: pointer;
}