.main {
    display: flex;
    flex-direction: column;
}

.main__poroduct--desktop {
    display: none;
}


.main__products {
    display: flex;
    width: 400%;
    transition: all 500ms ease;
    transform: translateX(0%);
}

.main__img-product {
    width: calc(100% / 4);
}


.carousel {
    overflow: hidden;
    width: 100%;
}

.container__carousel {
    position: relative;
}

.btn {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    z-index: 6;

    &:hover {
        path {
            stroke: $Orange;
        }

    }
}



.btn-next {
    right: 2rem;

}



.btn-previous {
    left: 2rem;

}

.main__product-info {
    padding: 2rem;
}

.main__product-info-p {
    color: $Orange;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.main__product-info-h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    line-height: 4.5rem;
}

.main__product-description {
    color: $DarkGrayishBlue;
    line-height: 2.5rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.main__product-info-cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__product-cost {
    font-size: 4rem;
    font-weight: bold;
}

.main__product-cost-porcent {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main__product-porcent {
    background-color: $PaleOrange;
    color: $Orange;
    font-size: 2rem;
    padding: .5rem;
    border-radius: .7rem;
    font-weight: bold;
}


.main_product-discount {
    color: $GrayishBlue;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 1.8rem;
    padding-right: 1rem;
}


.main__product-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


.main__product-input {
    width: 100%;
    padding: 1.4rem 1.4rem 1.2rem 1.4rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: $LightGrayishBlue;
    text-align: center;
    font-size: 1.6rem;
    font-family: $fontFamily;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.btn-count-container {
    position: relative;
    width: 100%;
}

.btn-count {
    position: absolute;
    background-color: $LightGrayishBlue;
    outline: none;
    border: none;
    cursor: pointer;


}


.btn-minus {
    left: 1rem;
    top: calc(50% - 6px);

}

.btn-plus {
    right: 1rem;
    top: calc(50% - 6px);
}


.btn-cart {
    width: 100%;
    padding: 1.6rem 1.6rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: $Orange;
    text-align: center;
    font-size: 1.6rem;
    font-family: $fontFamily;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    color: white;
    box-shadow: -1px 25px 60px -10px rgba(255, 125, 26, 0.25);
    -webkit-box-shadow: -1px 25px 60px -10px rgba(255, 125, 26, 0.25);
    -moz-box-shadow: -1px 25px 60px -10px rgba(255, 125, 26, 0.25);
    cursor: pointer;

    path {
        fill: white;
    }


    &:hover {

        opacity: 0.8;
    }

}

.main__product--desktop {
    display: none;
}

.main__product-gallery {
    display: none;
}

.img-product {
    cursor: pointer;
}

@media(min-width:1000px) {
    .main {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 70rem;
        width: 100vw;
    }

    .container__main {

        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        width: calc(100vw - 15rem);
        gap: 4rem;
    }

    .main__product--desktop {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-content: center;
        justify-content: center;
    }



    .carousel {
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    .container__carousel {
        position: fixed;
        transform: translateY(-200%);
        max-width: 35rem;
        top: 12rem;
        z-index: 5;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 350ms;
    }


    .btn {
        position: absolute;
        z-index: 6;
        width: 4rem;
        height: 4rem;
    }

    .btn-next {
        right: -2rem;
        top: 16rem;
    }



    .btn-previous {
        left: -2rem;
        top: 16rem;

    }

    .main__product-info {
        width: 50%;
    }

    .main__product-photo {

        width: 100%;
        max-width: 50rem;

        img {
            border-radius: 1rem;
        }
    }

    .main__product-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;
        max-width: 50rem;
        transition: all 350ms;


        img {
            border-radius: 1rem;
            outline: 3px solid rgba(255, 0, 0, 0);
            transition: opacity 350ms;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }

        }
    }

    .img-thumbnail--active {
        opacity: 0.5;
        border: 3px solid $Orange;
    }

    .img-thumbnail-carousel--active {
        opacity: 0.5;
        border: 3px solid $Orange;
    }

    .main__product-description {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 4rem;
    }

    .main__product-info-cost {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .main__product-buttons {
        flex-direction: row;
    }

    .btn-count-container {

        max-width: 15rem;
    }

    .main__product-input {
        height: 100%;
    }

    .container__main {
        width: calc(100vw - 5rem);
    }

    .main__product-info-h1 {
        font-size: 3.2rem;
    }

    .main__product-description {
        font-size: 1.7rem;
    }

    .main__product-cost {
        font-size: 3.2rem;
    }

    .main__product-porcent {
        font-size: 1.6rem;
    }

    .main_product-discount {
        font-size: 1.5rem;
    }

}


.icon-close-carousel {
    position: absolute;
    z-index: 7;
    top: -4rem;
    right: 0;
    transform: scale(1.5);

    path {
        fill: $White;

        cursor: pointer;

        &:hover {
            fill: $Orange
        }
    }



}